@font-face {
    font-family: 'MyFont';
    src: url('./icomoon.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0
}

.hello {
    font-family: 'MyFont';
    background: url('./dice.png');
}